
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pocetna stranica</title>
</head>
<body>
    <div> 
        ovo je moja prva vjezba iz PAUP
    </div>
    <h1>
        JAKELA PETA IS D BIZNISMEN IN D WORLD
    </h1>
    <p1>
        mala reci uc mene je sram
    </p1>
</body>
</html>
